In [ ]:
!pip install -U python-education-tools

In [22]:
import pandas as pd

In [40]:
from pet.datasets import factory
s=factory.gen_sample_series(number =5)
df=s

Dataset is generated in C:\Users\Administrator\pet_home/generated_sample_series_2023-01-30 14-47-38.xlsx ！！！

In [24]:
s

姓名
蒋丽睿    88
戚印     48
韩教民    20
郑政平    83
邹玺妃    77
Name: 成绩, dtype: int64

In [25]:
s.info(verbose=True)

<class 'pandas.core.series.Series'>
Index: 5 entries, 蒋丽睿 to 邹玺妃
Series name: 成绩
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes

In [26]:
print(f'{s.name=},{s.dtypes=}')
print(f'{s.shape=},{s.ndim=}')
print(f'{s.size=},{s.index=}')
print(f'{s.values=},{s.hasnans=}')

s.name='成绩',s.dtypes=dtype('int64')
s.shape=(5,),s.ndim=1
s.size=5,s.index=Index(['蒋丽睿', '戚印', '韩教民', '郑政平', '邹玺妃'], dtype='object', name='姓名')
s.values=array([88, 48, 20, 83, 77], dtype=int64),s.hasnans=False

In [29]:
s.to_excel('students.xlsx')
# 读入students.xlsx 文件，得到s1对象
s1=pd.read_excel('students.xlsx')

In [31]:
s1=s1.set_index('姓名')
s1

     成绩
姓名
蒋丽睿  88
戚印   48
韩教民  20
郑政平  83
邹玺妃  77

Series对象的构造函数如下：  
Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)     
参数copy、fastpath一般情况，无需设置。  
通常使用下面4个参数构建Series对象：  
Series（data，index，dtype，name）

Series对象的创建

In [32]:
import pandas as pd
data=[5, 3.3, ['o','k'], ('o','k'), {"name": "nick", "age": 12}, print]
for i in data:
    print(f'pd.Series({i})得到：\n',pd.Series(i))

pd.Series(5)得到：
 0    5
dtype: int64
pd.Series(3.3)得到：
 0    3.3
dtype: float64
pd.Series(['o', 'k'])得到：
 0    o
1    k
dtype: object
pd.Series(('o', 'k'))得到：
 0    o
1    k
dtype: object
pd.Series({'name': 'nick', 'age': 12})得到：
 name    nick
age       12
dtype: object
pd.Series(<built-in function print>)得到：
 0    <built-in function print>
dtype: object

In [33]:
pd.Series(data)

0                              5
1                            3.3
2                         [o, k]
3                         (o, k)
4    {'name': 'nick', 'age': 12}
5      <built-in function print>
dtype: object

In [34]:
import pandas as pd
s=pd.Series([1,3,4],['a','b','a'],name="Demo")
print(s)
print(f'{s.name=},{s.dtypes=}')
print(f'{s.shape=},{s.ndim=}')
print(f'{s.size=},{s.index=}')
print(f'{s.values=},{s.hasnans=}')

a    1
b    3
a    4
Name: Demo, dtype: int64
s.name='Demo',s.dtypes=dtype('int64')
s.shape=(3,),s.ndim=1
s.size=3,s.index=Index(['a', 'b', 'a'], dtype='object')
s.values=array([1, 3, 4], dtype=int64),s.hasnans=False

In [35]:
import pandas as pd
s=pd.Series(list('hello'))
print(s)
s.to_excel('s.xlsx',index=None)
# 读入s.xlsx 文件，得到s1对象
s1=pd.read_excel('s.xlsx')
print(s1)

0    h
1    e
2    l
3    l
4    o
dtype: object
   0
0  h
1  e
2  l
3  l
4  o

In [36]:
print(s.to_list())
print(s.to_json())
print(s.to_dict())

['h', 'e', 'l', 'l', 'o']
{"0":"h","1":"e","2":"l","3":"l","4":"o"}
{0: 'h', 1: 'e', 2: 'l', 3: 'l', 4: 'o'}

In [44]:
df=factory.gen_sample_dataframe_12()

****************************************
订单格式：
{'专业课.i': [39, 150],
 '姓名.n': '',
 '学校.c': ['清华大学',
          '北京大学',
          '复旦大学',
          '上海交通大学',
          '华东理工大学',
          '中山大学',
          '上海师范大学',
          '中国科技大学',
          '上海大学'],
 '性别.c': ['男', '女'],
 '政治.i': [36, 100],
 '线代.i': [20, 100],
 '考号.iid': 220151000,
 '英语.i': [29, 100],
 '表达能力.i': [49, 150],
 '面试.i': [29, 150],
 '高数.i': [15, 150]}
****************************************
Dataset is generated in C:\Users\Administrator\pet_home/generated_sample_dataframe_2023-01-30 14-47-38.xlsx ！！！

In [45]:
df

           考号   姓名 性别      学校  英语  政治  线代   高数  专业课  表达能力   面试
0   220151000   魏世  男  上海师范大学  98  68  71  149   95   123   56
1   220151001  谢彭茂  女  上海师范大学  75  84  30   28   79   104   51
2   220151002  曹教岸  女    北京大学  72  40  83  145  118   110   67
3   220151003  奚中政  男    上海大学  82  95  73  128  141    94   84
4   220151004   姜树  女    清华大学  88  70  28   87   97    88   30
5   220151005   潘天  女    清华大学  59  68  23   55   66    84   83
6   220151006   姜学  女    复旦大学  81  84  84  101  105    61  135
7   220151007  陈丽睿  女    中山大学  35  92  71   55   60   108   78
8   220151008   李中  男  上海交通大学  85  36  97   21  129   132   90
9   220151009  郎礼天  女  上海交通大学  82  61  65   18  113   138   53
10  220151010  韩与伟  男    复旦大学  34  69  89   74  119    92   43
11  220151011   钱礼  男    复旦大学  53  59  97  140   46   111   94
12  220151012  范自卿  男  中国科技大学  63  86  60  149  130   145  142
13  220151013   谢慧  男  华东理工大学  58  80  23  107  125    69   85
14  220151014  吕书丽  女  华东理工大学  52  97  53  135   85    70   80
15  220151015   俞礼  男  上海交通大学  32  72  37  149  120   115   72
16  220151016   韦一  男  上海交通大学  33  75  73  111   91   105   74
17  220151017   褚凤  男    上海大学  61  59  78   55  139    69  117
18  220151018  华红凤  女  华东理工大学  83  57  60   76   78   124  121
19  220151019  魏学玺  女    北京大学  48  51  27  120   92   140  125
20  220151020  马学与  女    清华大学  66  63  90   19   56   146   94
21  220151021  任风平  男  上海师范大学  85  36  92   42  108   107   53
22  220151022   昌一  女  华东理工大学  64  41  27   85   96   134   82
23  220151023  戚平茂  男    复旦大学  38  76  27   83   62   145   81
24  220151024   韩盛  女  上海交通大学  47  81  77  115  111    71  120
25  220151025   赵世  女  上海交通大学  49  91  56   80  108    96   33
26  220151026   马繁  女  中国科技大学  44  51  67   26  139   121  120
27  220151027   陶丽  男    复旦大学  51  60  84   45  103   134  122
28  220151028  褚仁和  女    清华大学  92  99  27  109  113    76   97
29  220151029  潘风盛  女    中山大学  67  50  80  142   72    54   75
30  220151030  周枝兴  男    北京大学  67  78  21  105   70   113   88
31  220151031   俞天  男  华东理工大学  79  86  75  127   66   119   38
32  220151032   蒋正  女  上海师范大学  46  99  59   87   81   115  130
33  220151033  孙树睿  女    上海大学  52  41  94   46   85   100  131
34  220151034   魏印  男    清华大学  68  38  31   54  139   132  131
35  220151035   尤平  女  华东理工大学  35  85  67   76   63    61   34
36  220151036  朱凤民  女  华东理工大学  51  61  61   95  133    68   75
37  220151037  苗丽民  男    中山大学  50  56  88   30   98   117   56
38  220151038   秦彭  女    中山大学  54  91  25   30   68   137  122
39  220151039  柳学荣  男  中国科技大学  41  79  29   33   65   141   63

In [46]:

df.iloc[1:3]

          考号   姓名 性别      学校  英语  政治  线代   高数  专业课  表达能力  面试
1  220151001  谢彭茂  女  上海师范大学  75  84  30   28   79   104  51
2  220151002  曹教岸  女    北京大学  72  40  83  145  118   110  67

In [48]:

df.iloc[:,1:6].head(3)

    姓名 性别      学校  英语  政治
0   魏世  男  上海师范大学  98  68
1  谢彭茂  女  上海师范大学  75  84
2  曹教岸  女    北京大学  72  40

In [49]:
df.iloc[1:,1:].head(3)

    姓名 性别      学校  英语  政治  线代   高数  专业课  表达能力  面试
1  谢彭茂  女  上海师范大学  75  84  30   28   79   104  51
2  曹教岸  女    北京大学  72  40  83  145  118   110  67
3  奚中政  男    上海大学  82  95  73  128  141    94  84

In [50]:
df.loc[1:,'姓名':'专业课'].head(3)

    姓名 性别      学校  英语  政治  线代   高数  专业课
1  谢彭茂  女  上海师范大学  75  84  30   28   79
2  曹教岸  女    北京大学  72  40  83  145  118
3  奚中政  男    上海大学  82  95  73  128  141

In [51]:
[i for i in df]

['考号', '姓名', '性别', '学校', '英语', '政治', '线代', '高数', '专业课', '表达能力', '面试']

In [52]:
[i for i in df.keys()]

['考号', '姓名', '性别', '学校', '英语', '政治', '线代', '高数', '专业课', '表达能力', '面试']

In [53]:
[i for i in df]==[i for i in df.keys()]

True

In [54]:
for col, ser in df.head(3).iteritems():
    print(type(col),type(ser))

<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>
<class 'str'> <class 'pandas.core.series.Series'>

In [55]:
{col:ser for col, ser in df.head(3).iteritems()}

{'考号': 0    220151000
 1    220151001
 2    220151002
 Name: 考号, dtype: int64,
 '姓名': 0     魏世
 1    谢彭茂
 2    曹教岸
 Name: 姓名, dtype: object,
 '性别': 0    男
 1    女
 2    女
 Name: 性别, dtype: object,
 '学校': 0    上海师范大学
 1    上海师范大学
 2      北京大学
 Name: 学校, dtype: object,
 '英语': 0    98
 1    75
 2    72
 Name: 英语, dtype: int32,
 '政治': 0    68
 1    84
 2    40
 Name: 政治, dtype: int32,
 '线代': 0    71
 1    30
 2    83
 Name: 线代, dtype: int32,
 '高数': 0    149
 1     28
 2    145
 Name: 高数, dtype: int32,
 '专业课': 0     95
 1     79
 2    118
 Name: 专业课, dtype: int32,
 '表达能力': 0    123
 1    104
 2    110
 Name: 表达能力, dtype: int32,
 '面试': 0    56
 1    51
 2    67
 Name: 面试, dtype: int32}

In [58]:
for i,j in df.head(3).iterrows():
    print(type(i),type(j))
    print('*'*33)

<class 'int'> <class 'pandas.core.series.Series'>
*********************************
<class 'int'> <class 'pandas.core.series.Series'>
*********************************
<class 'int'> <class 'pandas.core.series.Series'>
*********************************

In [57]:
for i in df.head(3).itertuples():
    print(i)

Pandas(Index=0, 考号=220151000, 姓名='魏世', 性别='男', 学校='上海师范大学', 英语=98, 政治=68, 线代=71, 高数=149, 专业课=95, 表达能力=123, 面试=56)
Pandas(Index=1, 考号=220151001, 姓名='谢彭茂', 性别='女', 学校='上海师范大学', 英语=75, 政治=84, 线代=30, 高数=28, 专业课=79, 表达能力=104, 面试=51)
Pandas(Index=2, 考号=220151002, 姓名='曹教岸', 性别='女', 学校='北京大学', 英语=72, 政治=40, 线代=83, 高数=145, 专业课=118, 表达能力=110, 面试=67)

In [61]:
df.loc[1,:]=[220151099,'赵六','男','华东理工',84,92,63,66,88,99,39]

In [62]:
df.head(3)

          考号   姓名 性别      学校  英语  政治  线代   高数  专业课  表达能力  面试
0  220151000   魏世  男  上海师范大学  98  68  71  149   95   123  56
1  220151099   赵六  男    华东理工  84  92  63   66   88    99  39
2  220151002  曹教岸  女    北京大学  72  40  83  145  118   110  67

In [63]:
df

           考号   姓名 性别      学校  英语  政治  线代   高数  专业课  表达能力   面试
0   220151000   魏世  男  上海师范大学  98  68  71  149   95   123   56
1   220151099   赵六  男    华东理工  84  92  63   66   88    99   39
2   220151002  曹教岸  女    北京大学  72  40  83  145  118   110   67
3   220151003  奚中政  男    上海大学  82  95  73  128  141    94   84
4   220151004   姜树  女    清华大学  88  70  28   87   97    88   30
5   220151005   潘天  女    清华大学  59  68  23   55   66    84   83
6   220151006   姜学  女    复旦大学  81  84  84  101  105    61  135
7   220151007  陈丽睿  女    中山大学  35  92  71   55   60   108   78
8   220151008   李中  男  上海交通大学  85  36  97   21  129   132   90
9   220151009  郎礼天  女  上海交通大学  82  61  65   18  113   138   53
10  220151010  韩与伟  男    复旦大学  34  69  89   74  119    92   43
11  220151011   钱礼  男    复旦大学  53  59  97  140   46   111   94
12  220151012  范自卿  男  中国科技大学  63  86  60  149  130   145  142
13  220151013   谢慧  男  华东理工大学  58  80  23  107  125    69   85
14  220151014  吕书丽  女  华东理工大学  52  97  53  135   85    70   80
15  220151015   俞礼  男  上海交通大学  32  72  37  149  120   115   72
16  220151016   韦一  男  上海交通大学  33  75  73  111   91   105   74
17  220151017   褚凤  男    上海大学  61  59  78   55  139    69  117
18  220151018  华红凤  女  华东理工大学  83  57  60   76   78   124  121
19  220151019  魏学玺  女    北京大学  48  51  27  120   92   140  125
20  220151020  马学与  女    清华大学  66  63  90   19   56   146   94
21  220151021  任风平  男  上海师范大学  85  36  92   42  108   107   53
22  220151022   昌一  女  华东理工大学  64  41  27   85   96   134   82
23  220151023  戚平茂  男    复旦大学  38  76  27   83   62   145   81
24  220151024   韩盛  女  上海交通大学  47  81  77  115  111    71  120
25  220151025   赵世  女  上海交通大学  49  91  56   80  108    96   33
26  220151026   马繁  女  中国科技大学  44  51  67   26  139   121  120
27  220151027   陶丽  男    复旦大学  51  60  84   45  103   134  122
28  220151028  褚仁和  女    清华大学  92  99  27  109  113    76   97
29  220151029  潘风盛  女    中山大学  67  50  80  142   72    54   75
30  220151030  周枝兴  男    北京大学  67  78  21  105   70   113   88
31  220151031   俞天  男  华东理工大学  79  86  75  127   66   119   38
32  220151032   蒋正  女  上海师范大学  46  99  59   87   81   115  130
33  220151033  孙树睿  女    上海大学  52  41  94   46   85   100  131
34  220151034   魏印  男    清华大学  68  38  31   54  139   132  131
35  220151035   尤平  女  华东理工大学  35  85  67   76   63    61   34
36  220151036  朱凤民  女  华东理工大学  51  61  61   95  133    68   75
37  220151037  苗丽民  男    中山大学  50  56  88   30   98   117   56
38  220151038   秦彭  女    中山大学  54  91  25   30   68   137  122
39  220151039  柳学荣  男  中国科技大学  41  79  29   33   65   141   63

In [64]:
df.loc[len(df),:]=[220151099,'赵六','男','华东理工',84,92,63,66,88,99,39]

In [65]:
df

             考号   姓名 性别      学校    英语    政治    线代     高数    专业课   表达能力     面试
0   220151000.0   魏世  男  上海师范大学  98.0  68.0  71.0  149.0   95.0  123.0   56.0
1   220151099.0   赵六  男    华东理工  84.0  92.0  63.0   66.0   88.0   99.0   39.0
2   220151002.0  曹教岸  女    北京大学  72.0  40.0  83.0  145.0  118.0  110.0   67.0
3   220151003.0  奚中政  男    上海大学  82.0  95.0  73.0  128.0  141.0   94.0   84.0
4   220151004.0   姜树  女    清华大学  88.0  70.0  28.0   87.0   97.0   88.0   30.0
5   220151005.0   潘天  女    清华大学  59.0  68.0  23.0   55.0   66.0   84.0   83.0
6   220151006.0   姜学  女    复旦大学  81.0  84.0  84.0  101.0  105.0   61.0  135.0
7   220151007.0  陈丽睿  女    中山大学  35.0  92.0  71.0   55.0   60.0  108.0   78.0
8   220151008.0   李中  男  上海交通大学  85.0  36.0  97.0   21.0  129.0  132.0   90.0
9   220151009.0  郎礼天  女  上海交通大学  82.0  61.0  65.0   18.0  113.0  138.0   53.0
10  220151010.0  韩与伟  男    复旦大学  34.0  69.0  89.0   74.0  119.0   92.0   43.0
11  220151011.0   钱礼  男    复旦大学  53.0  59.0  97.0  140.0   46.0  111.0   94.0
12  220151012.0  范自卿  男  中国科技大学  63.0  86.0  60.0  149.0  130.0  145.0  142.0
13  220151013.0   谢慧  男  华东理工大学  58.0  80.0  23.0  107.0  125.0   69.0   85.0
14  220151014.0  吕书丽  女  华东理工大学  52.0  97.0  53.0  135.0   85.0   70.0   80.0
15  220151015.0   俞礼  男  上海交通大学  32.0  72.0  37.0  149.0  120.0  115.0   72.0
16  220151016.0   韦一  男  上海交通大学  33.0  75.0  73.0  111.0   91.0  105.0   74.0
17  220151017.0   褚凤  男    上海大学  61.0  59.0  78.0   55.0  139.0   69.0  117.0
18  220151018.0  华红凤  女  华东理工大学  83.0  57.0  60.0   76.0   78.0  124.0  121.0
19  220151019.0  魏学玺  女    北京大学  48.0  51.0  27.0  120.0   92.0  140.0  125.0
20  220151020.0  马学与  女    清华大学  66.0  63.0  90.0   19.0   56.0  146.0   94.0
21  220151021.0  任风平  男  上海师范大学  85.0  36.0  92.0   42.0  108.0  107.0   53.0
22  220151022.0   昌一  女  华东理工大学  64.0  41.0  27.0   85.0   96.0  134.0   82.0
23  220151023.0  戚平茂  男    复旦大学  38.0  76.0  27.0   83.0   62.0  145.0   81.0
24  220151024.0   韩盛  女  上海交通大学  47.0  81.0  77.0  115.0  111.0   71.0  120.0
25  220151025.0   赵世  女  上海交通大学  49.0  91.0  56.0   80.0  108.0   96.0   33.0
26  220151026.0   马繁  女  中国科技大学  44.0  51.0  67.0   26.0  139.0  121.0  120.0
27  220151027.0   陶丽  男    复旦大学  51.0  60.0  84.0   45.0  103.0  134.0  122.0
28  220151028.0  褚仁和  女    清华大学  92.0  99.0  27.0  109.0  113.0   76.0   97.0
29  220151029.0  潘风盛  女    中山大学  67.0  50.0  80.0  142.0   72.0   54.0   75.0
30  220151030.0  周枝兴  男    北京大学  67.0  78.0  21.0  105.0   70.0  113.0   88.0
31  220151031.0   俞天  男  华东理工大学  79.0  86.0  75.0  127.0   66.0  119.0   38.0
32  220151032.0   蒋正  女  上海师范大学  46.0  99.0  59.0   87.0   81.0  115.0  130.0
33  220151033.0  孙树睿  女    上海大学  52.0  41.0  94.0   46.0   85.0  100.0  131.0
34  220151034.0   魏印  男    清华大学  68.0  38.0  31.0   54.0  139.0  132.0  131.0
35  220151035.0   尤平  女  华东理工大学  35.0  85.0  67.0   76.0   63.0   61.0   34.0
36  220151036.0  朱凤民  女  华东理工大学  51.0  61.0  61.0   95.0  133.0   68.0   75.0
37  220151037.0  苗丽民  男    中山大学  50.0  56.0  88.0   30.0   98.0  117.0   56.0
38  220151038.0   秦彭  女    中山大学  54.0  91.0  25.0   30.0   68.0  137.0  122.0
39  220151039.0  柳学荣  男  中国科技大学  41.0  79.0  29.0   33.0   65.0  141.0   63.0
40  220151099.0   赵六  男    华东理工  84.0  92.0  63.0   66.0   88.0   99.0   39.0

In [66]:
df.loc[len(df)+3,:]=[220151099,'赵六','男','华东理工',84,92,63,66,88,99,39]

In [67]:
df

             考号   姓名 性别      学校    英语    政治    线代     高数    专业课   表达能力     面试
0   220151000.0   魏世  男  上海师范大学  98.0  68.0  71.0  149.0   95.0  123.0   56.0
1   220151099.0   赵六  男    华东理工  84.0  92.0  63.0   66.0   88.0   99.0   39.0
2   220151002.0  曹教岸  女    北京大学  72.0  40.0  83.0  145.0  118.0  110.0   67.0
3   220151003.0  奚中政  男    上海大学  82.0  95.0  73.0  128.0  141.0   94.0   84.0
4   220151004.0   姜树  女    清华大学  88.0  70.0  28.0   87.0   97.0   88.0   30.0
5   220151005.0   潘天  女    清华大学  59.0  68.0  23.0   55.0   66.0   84.0   83.0
6   220151006.0   姜学  女    复旦大学  81.0  84.0  84.0  101.0  105.0   61.0  135.0
7   220151007.0  陈丽睿  女    中山大学  35.0  92.0  71.0   55.0   60.0  108.0   78.0
8   220151008.0   李中  男  上海交通大学  85.0  36.0  97.0   21.0  129.0  132.0   90.0
9   220151009.0  郎礼天  女  上海交通大学  82.0  61.0  65.0   18.0  113.0  138.0   53.0
10  220151010.0  韩与伟  男    复旦大学  34.0  69.0  89.0   74.0  119.0   92.0   43.0
11  220151011.0   钱礼  男    复旦大学  53.0  59.0  97.0  140.0   46.0  111.0   94.0
12  220151012.0  范自卿  男  中国科技大学  63.0  86.0  60.0  149.0  130.0  145.0  142.0
13  220151013.0   谢慧  男  华东理工大学  58.0  80.0  23.0  107.0  125.0   69.0   85.0
14  220151014.0  吕书丽  女  华东理工大学  52.0  97.0  53.0  135.0   85.0   70.0   80.0
15  220151015.0   俞礼  男  上海交通大学  32.0  72.0  37.0  149.0  120.0  115.0   72.0
16  220151016.0   韦一  男  上海交通大学  33.0  75.0  73.0  111.0   91.0  105.0   74.0
17  220151017.0   褚凤  男    上海大学  61.0  59.0  78.0   55.0  139.0   69.0  117.0
18  220151018.0  华红凤  女  华东理工大学  83.0  57.0  60.0   76.0   78.0  124.0  121.0
19  220151019.0  魏学玺  女    北京大学  48.0  51.0  27.0  120.0   92.0  140.0  125.0
20  220151020.0  马学与  女    清华大学  66.0  63.0  90.0   19.0   56.0  146.0   94.0
21  220151021.0  任风平  男  上海师范大学  85.0  36.0  92.0   42.0  108.0  107.0   53.0
22  220151022.0   昌一  女  华东理工大学  64.0  41.0  27.0   85.0   96.0  134.0   82.0
23  220151023.0  戚平茂  男    复旦大学  38.0  76.0  27.0   83.0   62.0  145.0   81.0
24  220151024.0   韩盛  女  上海交通大学  47.0  81.0  77.0  115.0  111.0   71.0  120.0
25  220151025.0   赵世  女  上海交通大学  49.0  91.0  56.0   80.0  108.0   96.0   33.0
26  220151026.0   马繁  女  中国科技大学  44.0  51.0  67.0   26.0  139.0  121.0  120.0
27  220151027.0   陶丽  男    复旦大学  51.0  60.0  84.0   45.0  103.0  134.0  122.0
28  220151028.0  褚仁和  女    清华大学  92.0  99.0  27.0  109.0  113.0   76.0   97.0
29  220151029.0  潘风盛  女    中山大学  67.0  50.0  80.0  142.0   72.0   54.0   75.0
30  220151030.0  周枝兴  男    北京大学  67.0  78.0  21.0  105.0   70.0  113.0   88.0
31  220151031.0   俞天  男  华东理工大学  79.0  86.0  75.0  127.0   66.0  119.0   38.0
32  220151032.0   蒋正  女  上海师范大学  46.0  99.0  59.0   87.0   81.0  115.0  130.0
33  220151033.0  孙树睿  女    上海大学  52.0  41.0  94.0   46.0   85.0  100.0  131.0
34  220151034.0   魏印  男    清华大学  68.0  38.0  31.0   54.0  139.0  132.0  131.0
35  220151035.0   尤平  女  华东理工大学  35.0  85.0  67.0   76.0   63.0   61.0   34.0
36  220151036.0  朱凤民  女  华东理工大学  51.0  61.0  61.0   95.0  133.0   68.0   75.0
37  220151037.0  苗丽民  男    中山大学  50.0  56.0  88.0   30.0   98.0  117.0   56.0
38  220151038.0   秦彭  女    中山大学  54.0  91.0  25.0   30.0   68.0  137.0  122.0
39  220151039.0  柳学荣  男  中国科技大学  41.0  79.0  29.0   33.0   65.0  141.0   63.0
40  220151099.0   赵六  男    华东理工  84.0  92.0  63.0   66.0   88.0   99.0   39.0
44  220151099.0   赵六  男    华东理工  84.0  92.0  63.0   66.0   88.0   99.0   39.0

In [68]:
df.drop([38:])

SyntaxError: invalid syntax (2162962605.py, line 1)

In [ ]:
df

In [ ]:
df.drop([1,3])

In [ ]:
df.drop(df.index[1:4])

In [ ]:
df

In [ ]:
df.loc[[1,2],:]=df.loc[[2,1],:].values

In [ ]:
df

In [ ]:
import pandas as pd
df['新增列']=pd.Series(['道','法','自','然'])

In [ ]:
df

In [ ]:
df

In [ ]:
from pet.data import generator
df=generator.generate_df()
df['新增列']=pd.Series(['道','法','自','然'])
df

In [ ]:
del df['英语']

In [ ]:
df

In [ ]:
df=df.drop('新增列',axis=1)

In [ ]:
df

In [ ]:
df.pop('线代')

In [ ]:
df

In [ ]:
from pet.data import generator
df=generator.generate_df()
df

In [ ]:
df.loc[:,['政治', '英语']] = df.loc[:,[ '英语','政治']].values

In [ ]:
df

In [ ]:
df.replace({'姓名':{'苏贵慧':'牛人'},'高数':{38: 111}})

In [ ]:
df.sort_values(['高数', '英语'])

In [ ]:
df.sort_values(['高数', '英语'],ascending=False)

In [ ]:
df

In [ ]:
df.rename(index={2:999},columns={'面试':'复试'})

In [ ]:
df.columns.tolist()

In [ ]:
import numpy as np
df['总分']=df[[ '英语', '政治', '线代', '概率', '高数', '专业课', '表达能力', '面试']].apply(np.sum,axis=1)

In [ ]:
df.head(3)

In [ ]:
df

In [ ]:
df.reindex([0,2])

In [ ]:
df

In [ ]:
dff=df.set_index('姓名')
dff.head(3)

In [ ]:
df

In [ ]:
df.reindex([0,2])

In [ ]:
df.reindex(columns=['姓名', '线代','概率','高数','专业课']).head(3)

In [ ]:
df.set_index('姓名').sort_index(ascending=False)

In [ ]:
df

In [ ]:
df.set_index(['学校','班级','性别']).head(5)

In [ ]:
df

In [ ]:
df['排名']=df['总分'].rank(ascending=False) 
df

In [ ]:
df.corr()

In [ ]:
df.corrwith(df['英语'])

In [ ]:
df.groupby(['学校','班级']).agg([min,max])[['英语','高数','总分']]

In [ ]:
df.groupby('学校').median()

In [ ]:
df.groupby(['学校','性别']).sum()

In [ ]:
df.groupby(['学校','性别']).idxmax()

In [ ]:
df.groupby(['学校','性别']).sem()

In [ ]:
df.pivot_table(index=['学校','班级','性别'],values=['高数','英语','线代'],aggfunc='median')

In [ ]:
df

In [ ]:
df.pivot_table(index=['学校','班级'],values=['高数','英语','线代'],columns='性别',aggfunc='median',fill_value=0)

In [ ]:
import numpy as np
df['总分']=df[[ '英语', '政治', '线代', '概率', '高数', '专业课', '表达能力', '面试']].apply(np.sum,axis=1)
df

In [ ]:
df['总分'].sort_values(ascending=False)

In [ ]:
df['总评']=pd.cut(df['总分'], [0,500,560,650,750,1000], labels=["不及格","及格","中","良","优秀"])
df

In [ ]:
pd.melt(df,id_vars=['考号','姓名','性别'])

In [ ]:
pd.get_dummies(df,columns=['性别'],prefix='sex')

In [ ]:
df

In [ ]:
df.sample(n=3)

In [ ]:
df.sample(frac=.1,ignore_index=True)

In [ ]:
import pandas as pd
left=pd.DataFrame({'name':['foo','bar','success'],
                  'age':[12,23,33],
                  'mark':[23,78,99]})
right=pd.DataFrame({'name':['foo','bar'],
                  'age':[4,5]})
pd.concat([left,right])

In [ ]:
pd.concat([left,right],axis=1)

In [ ]:
import pandas as pd
df1=pd.DataFrame({'key':['a','b','b','g'],'data1':range(4)})
df2=pd.DataFrame({'key':['a','b','c','k'],'data2':range(3,7)})

In [ ]:
df1

In [ ]:
df2

In [ ]:
 pd.merge(df1,df2)

In [ ]:
pd.merge(df1,df2,left_on='data1',right_on='data2')

In [ ]:
df1.join(df2,how='left',lsuffix='left',rsuffix='right',sort=True)

In [ ]:
from pet.data import generator
df=generator.generate_df()
df=df[['高数','英语','面试']].head(5)
import matplotlib.pyplot as plt
font = {'family': 'SimHei','weight': 'bold','size': 20}
plt.rc('font', **font)
parameters = {'axes.labelsize': 15,
          'axes.titlesize': 15}
plt.rcParams.update(parameters)
fig = plt.figure(figsize=(100,100),dpi=200)
df.plot()

In [ ]:

df.plot.bar()

In [ ]:
df.plot.bar(stacked=True)

In [ ]:
df.plot.scatter(x='高数',y='英语')

In [ ]:
df.plot.hist()

In [ ]:
df.plot.hexbin(x='高数',y='英语',gridsize=15)

In [ ]:
import pandas as pd
url='https://baike.baidu.com/item/IP%E5%9C%B0%E5%9D%80/150859?fr=aladdin'
dfs = pd.read_html(url)
dfs[0]
dfs[0].to_excel('ip_address.xlsx',index=None,header=None)
df=pd.read_excel('ip_address.xlsx')
df

In [ ]:
import pandas as pd
df1=pd.DataFrame({'key':['a','b','b','g'],'data1':range(4)})
df2=pd.DataFrame({'key':['a','b','c','k'],'data2':range(3,7)})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1,df2)

In [ ]:
pd.merge(df1,df2,how='outer')

In [ ]:
pd.merge(df1,df2,how='left')

In [ ]:
pd.merge(df1,df2,how='right')