In [18]:
%reload_ext yandex_query_magic

In [1]:
%load_ext yandex_query_magic

In [2]:
%yq_settings --folder-id b1ggt6geu4aa38p61kst --sa-file-auth /home/slonn/sa_key.json

In [3]:
%yq select * from `tutorial-analytics` limit 10

VBox(children=(HBox(children=(HTML(value=''), Label(value='', style=LabelStyle(text_color='violet')))), HBox(câ€¦

,DOLocationID,PULocationID,RatecodeID,VendorID,airport_fee,congestion_surcharge,extra,fare_amount,improvement_surcharge,month,...,passenger_count,payment_type,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,year
0,141,138,1.0,1,1.25,2.5,4.25,26.5,0.3,12,...,1.0,1,N,7.60,6.55,45.70,2021-12-01 00:37:01+00:00,2021-12-01 00:19:51+00:00,9.30,2021
1,42,238,1.0,2,0.00,2.5,0.50,13.0,0.3,12,...,2.0,2,N,0.00,0.00,16.80,2021-12-01 00:45:13+00:00,2021-12-01 00:29:07+00:00,2.76,2021
2,74,239,1.0,1,0.00,2.5,3.00,13.5,0.3,12,...,0.0,1,N,2.00,0.00,19.30,2021-12-01 00:27:17+00:00,2021-12-01 00:12:40+00:00,3.40,2021
3,87,148,1.0,1,0.00,2.5,3.00,6.5,0.3,12,...,1.0,1,N,2.05,0.00,12.35,2021-12-01 00:19:20+00:00,2021-12-01 00:10:18+00:00,1.30,2021
4,246,231,1.0,1,0.00,2.5,3.00,12.5,0.3,12,...,1.0,1,N,2.50,0.00,18.80,2021-12-01 00:39:07+00:00,2021-12-01 00:25:12+00:00,3.10,2021
5,75,132,2.0,2,1.25,0.0,0.00,52.0,0.3,12,...,2.0,1,N,14.84,6.55,75.44,2021-12-01 00:53:17+00:00,2021-12-01 00:28:50+00:00,19.10,2021
6,239,114,1.0,2,0.00,2.5,0.50,17.5,0.3,12,...,2.0,1,N,4.26,0.00,25.56,2021-12-01 00:18:27+00:00,2021-12-01 00:00:08+00:00,5.18,2021
7,90,143,1.0,2,0.00,2.5,0.50,11.0,0.3,12,...,1.0,1,N,2.66,0.00,17.46,2021-12-01 00:31:30+00:00,2021-12-01 00:21:48+00:00,3.11,2021
8,236,138,1.0,1,1.25,2.5,4.25,24.5,0.3,12,...,1.0,1,N,5.42,6.55,41.52,2021-12-01 00:17:00+00:00,2021-12-01 00:01:13+00:00,8.10,2021
9,43,141,1.0,1,0.00,2.5,3.00,9.5,0.3,12,...,0.0,1,N,1.50,0.00,14.80,2021-12-01 00:51:22+00:00,2021-12-01 00:42:53+00:00,2.30,2021

In [3]:
%%yq
select 1;
select 2;

VBox(children=(HBox(children=(HTML(value=''), Label(value='', style=LabelStyle(text_color='violet')))), HBox(câ€¦

   column0
0        1

In [11]:
%%yq --all-results
select 1;
select 2;

VBox(children=(HBox(children=(HTML(value=''), Label(value='', style=LabelStyle(text_color='violet')))), HBox(câ€¦

[   column0
 0        1,
    column0
 0        2]

In [12]:
%%yq --all-results
output << select 1;
select 2;

VBox(children=(HBox(children=(HTML(value=''), Label(value='', style=LabelStyle(text_color='violet')))), HBox(câ€¦

[   column0
 0        1,
    column0
 0        2]

In [14]:
output[0]

   column0
0        1

In [15]:
output[1]

   column0
0        2