# MAT-model: Model Classes for Multiple Aspect Trajectory Data Mining \[MAT-Tools Framework\]

Sample Code in python notebook to use `mat-model` as a python library.

The present package offers a tool, to support the user in the task of modeling multiple aspect trajectories. It integrates into a unique framework for multiple aspects trajectories and in general for multidimensional sequence data mining methods.

Created on Apr, 2024
Copyright (C) 2023, License GPL Version 3 or superior (see LICENSE file)

In [1]:
#!pip install mat-model
!pip install --upgrade mat-model

Requirement already satisfied: mat-model in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (0.1b3)
Requirement already satisfied: glob2 in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from mat-model) (0.7)
Requirement already satisfied: numpy in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from mat-model) (1.22.4)
Requirement already satisfied: pandas in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from mat-model) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from pandas->mat-model) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from pandas->mat-model) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from pandas->mat-model) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/tarlisportela/miniforge3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->mat-model) (1.15.0)

In [2]:
from matdata.dataset import *
ds = 'mat.FoursquareNYC'
df = load_ds(ds, sample_size=0.25)
df

Loading dataset file: https://github.com/mat-analysis/datasets/tree/main/mat/FoursquareNYC/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1055k  100 1055k    0     0  2283k      0 --:--:-- --:--:-- --:--:-- 2294k

Spliting Data (class-balanced):   0%|          | 0/193 [00:00<?, ?it/s]

,space,time,day,poi,type,root_type,rating,weather,tid,label
0,40.6604738351670 -73.8302910891864,1042,Monday,MTA Subway - Howard Beach/JFK Airport (A),Metro Station,Travel & Transport,-1.0,Clear,128,6
1,40.6086420833785 -73.8190376758575,1179,Monday,MTA Bus - Q53,Beach,Outdoors & Recreation,-1.0,Clear,128,6
2,40.7340555764763 -73.8708472251892,1208,Monday,Queens Center Mall,Shopping Mall,Shop & Service,7.5,Clear,128,6
3,40.7333724746837 -73.8711404741537,1210,Monday,MTA Bus - Q11/Q21/Q29/Q52LTD/Q53LTD/Q59/Q60 - ...,Bus Line,Travel & Transport,-1.0,Clear,128,6
4,40.7631337910326 -73.8752118314646,1273,Monday,"MTABus Q19, Q49 (Astoria Blvd/94th St)",Bus Station,Travel & Transport,-1.0,Clear,128,6
...,...,...,...,...,...,...,...,...,...,...
15267,40.7047332789043 -73.9877378940582,939,Thursday,Miami Ad School Brooklyn,General College & University,College & University,-1.0,Clear,29559,1070
15268,40.6978026652822 -73.9941451630314,483,Friday,Eastern Athletic Club,Gym,Outdoors & Recreation,6.9,Clear,29559,1070
15269,40.6946728967503 -73.9940820360805,794,Friday,Starbucks,Coffee Shop,Food,7.0,Clear,29559,1070
15270,40.7023694709909 -73.9875124790989,1261,Friday,Superfine,American Restaurant,Food,7.6,Clear,29559,1070
15271,40.6977207397189 -73.9930203524269,56,Saturday,EHS St. George Residence,College Residence Hall,College & University,-1.0,Clouds,29559,1070

#### Trajectory Objects

Alternatively, you can convert the dataframe into Trajectory objects:

In [3]:
from matmodel.util.parsers import df2trajectory

T = df2trajectory(df)

Converting Trajectories:   0%|          | 0/694 [00:00<?, ?it/s]

In [4]:
traj = T[1]
traj.display()

𝘛𐄁135 	𝘱1⟨(40.690 -73.982), 145.0, Monday, NYCT Transit Survey Unit, Office, Professional & Other Places, -1.0, Clouds⟩↴
	𝘱2⟨(40.709 -73.991), 201.0, Monday, MTA Subway - Manhattan Bridge (B/D/N/Q), Train, Travel & Transport, -1.0, Clouds⟩↴
	𝘱3⟨(40.828 -73.926), 1382.0, Monday, MTA Subway - 161st St/Yankee Stadium (4/B/D), Metro Station, Travel & Transport, -1.0, Clouds⟩↴
	𝘱4⟨(40.709 -73.991), 100.0, Tuesday, MTA Subway - Manhattan Bridge (B/D/N/Q), Train, Travel & Transport, -1.0, Clouds⟩↴
	𝘱5⟨(40.690 -73.982), 145.0, Tuesday, NYCT Transit Survey Unit, Office, Professional & Other Places, -1.0, Rain⟩↴
	𝘱6⟨(40.759 -73.988), 247.0, Tuesday, MTA Bus - 8 Av & W 46 St (M20/M104), Bus Stop, Travel & Transport, -1.0, Rain⟩↴
	𝘱7⟨(40.653 -74.002), 307.0, Wednesday, MTA Regional Bus Depot - Jackie Gleason, Bus Station, Travel & Transport, -1.0, Clouds⟩↴
	𝘱8⟨(40.638 -73.979), 353.0, Wednesday, MTA B67, B69 (McDonald Ave/Cortelyou Road), Bus Station, Travel & Transport, -1.0, Clouds⟩↴
	𝘱9⟨(40.688 -73.981), 425.0, Wednesday, MTA Bus - Livingston St & Nevins St (B41/B41LTD/B45/B67/B103LTD), Bus Station, Travel & Transport, -1.0, Clouds⟩↴
	𝘱10⟨(40.647 -73.980), 475.0, Wednesday, MTA B67, B69, B103 (McDonald Ave/Caton Ave), Bus Station, Travel & Transport, -1.0, Rain⟩↴
	𝘱11⟨(40.654 -74.005), 559.0, Wednesday, MTA Subway - 36th St (D/N/R), Metro Station, Travel & Transport, -1.0, Rain⟩↴
	𝘱12⟨(40.690 -73.985), 194.0, Thursday, MTA Subway - Hoyt St (2/3), Metro Station, Travel & Transport, -1.0, Clear⟩↴
	𝘱13⟨(40.833 -73.942), 288.0, Thursday, The Lair Of Modern Strange Cowboy, Home (private), Residence, -1.0, Clouds⟩↴
	𝘱14⟨(40.651 -73.950), 44.0, Friday, MTA Subway - Church Ave (2/5), Metro Station, Travel & Transport, -1.0, Clouds⟩

In [5]:
traj.attributes

[1. space (space2d),
 2. time (numeric),
 3. day (nominal),
 4. poi (nominal),
 5. type (nominal),
 6. root_type (nominal),
 7. rating (numeric),
 8. weather (nominal)]

In [6]:
traj.attributes_desc.attributes # same as traj.attributes

[1. space (space2d),
 2. time (numeric),
 3. day (nominal),
 4. poi (nominal),
 5. type (nominal),
 6. root_type (nominal),
 7. rating (numeric),
 8. weather (nominal)]

In [7]:
# Special desctriptors for trajectory:
print(traj.attributes_desc.idDesc)
print(traj.attributes_desc.labelDesc)

9. tid (numeric)
10. label (nominal)

In [8]:
traj.points[0]

𝘱1⟨(40.690 -73.982), 145.0, Monday, NYCT Transit Survey Unit, Office, Professional & Other Places, -1.0, Clouds⟩

In [9]:
# Values
traj.points[0].aspects[2], traj.points[0].aspects[3]

(Monday, NYCT Transit Survey Unit)

In [10]:
# name attr, and value
traj.attributes[3].text, traj.points[0].aspects[3]

('poi', NYCT Transit Survey Unit)

In [11]:
a = traj.points[0].aspects[0]
b = traj.points[0].aspects[2]
from matmodel.base import Space2D

isinstance(a, Space2D), isinstance(b, Space2D), type(a), type(b)

(True, False, matmodel.base.Aspect.Space2D, matmodel.base.Aspect.Categoric)

In [12]:
a.value, type(a.value), b.value, type(b.value)

((40.6900872257332, -73.9817776229191), tuple, 'Monday', str)

In [13]:
a1 = traj.attributes[0]
a8 = traj.attributes[7]
print(a1.order, a1.text, a1.dtype, sep=' -- ')

print('Comparator 1:', a1.comparator)
print('Comparator 8:', a8.comparator)

1 -- space -- space2d
Comparator 1: <matmodel.comparator.distance.EuclideanDistance object at 0x14baa80d0>
Comparator 8: <matmodel.comparator.distance.EqualsDistance object at 0x14baa85b0>

In [14]:
for attr in traj.attributes:
    print(attr, attr.comparator)

1. space (space2d) <matmodel.comparator.distance.EuclideanDistance object at 0x14baa80d0>
2. time (numeric) <matmodel.comparator.distance.AbsoluteDistance object at 0x14baa8100>
3. day (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14baa81f0>
4. poi (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14baa82b0>
5. type (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14baa8370>
6. root_type (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14baa8430>
7. rating (numeric) <matmodel.comparator.distance.AbsoluteDistance object at 0x14baa8490>
8. weather (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14baa85b0>

In [15]:
# Distância espacial:
a1.comparator.distance(traj.points[0].aspects[0], traj.points[1].aspects[0])

0.02068644437005193

In [16]:
# Calcular a distancia do p1 com p2, no atributo Weather (São iguais)
a8.comparator.distance(traj.points[0].aspects[7], traj.points[1].aspects[7])

0

In [17]:
# Calcular a distancia do p1 com p6, no atributo 1 (São diferentes)
a8.comparator.distance(traj.points[0].aspects[7], traj.points[5].aspects[7])

1

In [18]:
# Exemplos de valores de distância:
d1 = 2
d2 = 10

# isso era uma função que o Andres usava para aumentar a diferença proporcionalmente quanto maior fosse a distancia,
# vai até o max_value do comparador (se for setado)
a1.comparator.enhance(d1), a1.comparator.enhance(d2)

(4, 100)

In [19]:
# Exemplos de valores de distância:
d1 = 25
d2 = 75

# Se tiver valores de distância que quiser normalizar de 0 a 1, dá pra atribuir o maior valor de distância possível:
a1.comparator.max_value = 100
a1.comparator.normalize(d1), a1.comparator.normalize(d2)

(0.25, 0.75)

In [20]:
help(a1.comparator.distance)

Help on method distance in module matmodel.comparator.distance:

distance(asp1, asp2) method of matmodel.comparator.distance.EuclideanDistance instance
    Calculates the Euclidean distance (works for points of 2D, 3D, and more).

    Arguments:
    asp1 (Space2D, Space3D) - value 1 to compare
    asp2 (Space2D, Space3D) - value 2 to compare

    Return:
    distance - distance value.

In [21]:
# Eu posso criar outros comparadores, ou trocar:
from matmodel.comparator import LcsDistance, EditlcsDistance

a1.comparator = LcsDistance()
print(traj.points[0].aspects[2], traj.points[2].aspects[2], a1.comparator.distance(traj.points[0].aspects[2], traj.points[2].aspects[2]))
print(traj.points[0].aspects[2], traj.points[5].aspects[2], a1.comparator.distance(traj.points[0].aspects[2], traj.points[5].aspects[2]))

a1.comparator = EditlcsDistance()
print(traj.points[0].aspects[2], traj.points[2].aspects[2], a1.comparator.distance(traj.points[0].aspects[2], traj.points[2].aspects[2]))
print(traj.points[0].aspects[2], traj.points[5].aspects[2], a1.comparator.distance(traj.points[0].aspects[2], traj.points[5].aspects[2]))

Monday Monday 0
Monday Tuesday 4
Monday Monday 0
Monday Tuesday 7

In [22]:
# Com descritor já pronto que eu criei pro F. NYC
from matmodel.util.parsers import df2trajectory
T = df2trajectory(df, attributes_desc='../datasets/mat/FoursquareNYC/FoursquareNYC.json')
traj = T[73]

Converting Trajectories:   0%|          | 0/694 [00:00<?, ?it/s]

In [23]:
for attr in traj.attributes:
    print(attr, attr.comparator)

1. space (space2d) <matmodel.comparator.distance.EuclideanDistance object at 0x107ebfc40>
2. time (time) <matmodel.comparator.distance.TimeDistance object at 0x107e37550>
3. day (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14d4ee340>
4. poi (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x14c96fcd0>
5. type (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x107f31340>
6. root_type (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x107f31c70>
7. rating (numeric) <matmodel.comparator.distance.AbsoluteDistance object at 0x107f31c40>
8. weather (nominal) <matmodel.comparator.distance.EqualsDistance object at 0x107f31e20>

---

In [24]:
from matmodel.base import DateTime, Interval

v1 = DateTime('60')
v2 = DateTime('150')
v3 = DateTime('1430')

i1 = Interval('70', '120') # Todos fora desse intervalo
i2 = Interval('90', '180') # Dentro: v2, fora: v1 e v3
i3 = Interval('1380', '1430') # v3 == end

v1, v2, v3, i1, i2, i3

(2024-01-01 01:00:00,
 2024-01-01 02:30:00,
 2024-01-01 23:50:00,
 [2024-01-01 01:10:00 𛲔𛲔 2024-01-01 02:00:00],
 [2024-01-01 01:30:00 𛲔𛲔 2024-01-01 03:00:00],
 [2024-01-01 23:00:00 𛲔𛲔 2024-01-01 23:50:00])

In [25]:
type(v1.value), v1.get('m'), v2.get('m'), v3.get('m')

(datetime.datetime, 60, 150, 1430)

In [26]:
from matmodel.comparator import *

tD = TimeDistance() # Esse compara sempre em relação ao horário do dia (só considera o tempo)
dD = DatetimeDistance(units='m') # esse comprara sempre da maior para o menor
iD = InintervalDistance(units='m') # Esse compara datas e intervalos

tD.max_value, iD.max_value, dD.max_value

(1439, None, None)

In [27]:
print(tD.distance(v1, v2), tD.distance(v2, v1))
print(tD.distance(v1, v3), tD.distance(v3, v1)) # A diferença é sempre a menor possível

print(dD.distance(v1, v2), dD.distance(v2, v1))
print(dD.distance(v1, v3), dD.distance(v3, v1)) # A diferença é da maior para menor

90 90
70 70
90.0 90.0
1370.0 1370.0

In [28]:
print(iD.distance(v1, v2), iD.distance(v2, v1))
print(iD.match(v1, v2), iD.match(v2, v1)) # See if equals

v4 = DateTime('60') # Equals v1
print(iD.match(v1, v4), iD.match(v4, v1))

print(iD.match(v1, v2, 60*3), iD.match(v2, v1, 60*3)) # See if match in the threshold of 3h

90.0 90.0
False False
True True
True True

In [29]:
i1.start, i1.end

(datetime.datetime(2024, 1, 1, 1, 10), datetime.datetime(2024, 1, 1, 2, 0))

In [30]:
# distance is a match 0 or 1
print(iD.distance(v1, i1), iD.distance(i1, v1))
print(iD.distance(v2, i1), iD.distance(i1, v2))
print(iD.distance(v3, i1), iD.distance(i1, v3))
print()
print(iD.distance(v1, i2), iD.distance(i2, v1))
print(iD.distance(v2, i2), iD.distance(i2, v2)) # v2 inside
print(iD.distance(v3, i2), iD.distance(i2, v3))
print()
print(iD.distance(v1, i3), iD.distance(i3, v1))
print(iD.distance(v2, i3), iD.distance(i3, v2))
print(iD.distance(v3, i3), iD.distance(i3, v3)) # v3 inside

1 1
1 1
1 1

1 1
0 0
1 1

1 1
1 1
0 0

In [31]:
# match is bool
print(iD.match(v1, i1), iD.match(i1, v1))
print(iD.match(v2, i1), iD.match(i1, v2))
print(iD.match(v3, i1), iD.match(i1, v3))
print()
print(iD.match(v1, i2), iD.match(i2, v1))
print(iD.match(v2, i2), iD.match(i2, v2))
print(iD.match(v3, i2), iD.match(i2, v3))
print()
print(iD.match(v1, i3), iD.match(i3, v1))
print(iD.match(v2, i3), iD.match(i3, v2))
print(iD.match(v3, i3), iD.match(i3, v3))

False False
False False
False False

False False
True True
False False

False False
False False
True True

# --

In [ ]:
sel_attributes = ['poi', 'day', 'category', 'weather']
attributes = [{'order': 1, 'type': 'space2d', 'text': 'lat_lon', 'comparator': {'distance': 'euclidean'}}, {'order': 2, 'type': 'nominal', 'text': 'day', 'comparator': {'distance': 'equals'}},{'order': 1, 'type': 'space2d', 'text': 'lat_lon', 'comparator': {'distance': 'euclidean'}}, {'order': 2, 'type': 'nominal', 'text': 'day', 'comparator': {'distance': 'equals'}}]

dict(map(lambda item: (item['text'], item), attributes))

In [ ]:
from matmodel.method import MethodWrapper

MethodWrapper.providedMethods()

In [ ]:
from matmodel.method.MethodWrapper import Param

Param.TYPE_TEXT

\# By Tarlis Portela (2023)